@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primary: #008080;
    --background: #ffffff;
    --background2: #f5f5f5;
    --black: #000000;
    --light: #313131;
    --light2: #e6e6e6;
    --gradient: linear-gradient(164deg, rgba(0,73,71,1) 0%, rgba(0,176,159,1) 100%, rgba(0,212,255,1) 100%);
    --gradient2: linear-gradient(164deg, rgb(39, 87, 85) 0%, rgb(86, 184, 124) 100%, rgb(0, 183, 255) 100%);

    --transition: .4s ease;
}

::-moz-selection { /* Code for Firefox */
    color: var(--light2);
    background: var(--primary);
  }
  
  ::selection {
    color: var(--light2);
    background: var(--primary);
  }

body {
    background: var(--background);
    color: var(--light);
}

h1 { font-size: 60px; }
h2 { font-size: 2rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.1rem; }
h5 { font-size: .95rem; }
h1, h2, h3, h4, h5 { 
    /* color: var(--black); */
    line-height: 1.1;
}

a {
    color: var(--black);
    transition: var(--transition);
}

section {
    padding: 8rem 0;
}
section>h2 {
    text-align: center;
}
section>p {
    text-align: center;
    width: 40%;
    margin: .5rem auto 4rem;
}

p {
    line-height: 150%;
    font-size: 17px;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.btn {
    display: inline-block;
    width: fit-content;
    padding: 16px 32px;
    border: 2px solid transparent;
    cursor: pointer;
    background: var(--primary);
    color: var(--black);
    border-radius: 1rem;
    font-size: 18px;
    transition: var(--transition);
}
.btn:hover {
    background: var(--gradient);
    border-color: var(--gradient);
    transform: translateY(-.5rem);
    box-shadow: 0 0 1rem var(--primary);
}
.btn-white {
    background: transparent;
    border-color: var(--black);
}
.btn-white:hover {
    background: var(--gradient);
    color: var(--background);
    border-color: var(--background);
    box-shadow: 0 0 1rem var(--primary);
}
.btn-sm {
    padding: 10px 20px;
    font-size: 17px;
}
.btn-sm:hover {
    border-color: var(--background);
    color: var(--background);
}

/* --- card --- */
.card {
    background: var(--background3);
    padding: 1.5rem;
    border: 2px solid transparent;
    border-radius: 1.2rem;
    transition: var(--transition);
}
.card:hover {
    background: transparent;
    border-color: var(--background);
    transform: translateY(-.5rem);
}
.card-primary {
    background: transparent;
    border-color: var(--black);
}
.card-primary:hover {
    background: var(--gradient);
    color: #ffffff;
}
.container {
    max-width: 1420px;
    width: 90%;
    margin: 0 auto;
}

/* --- navbar --- */
nav {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.nav-scroll {
    background: var(--gradient);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    color: var(--background);
}
.nav-scroll .logo {
    color: var(--background);
}
.nav-scroll .nav-links a {
    color: var(--background);
}
.nav-scroll .nav-links a:hover {
    color: var(--black);
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    color: var(--primary);
}
.menu-button {
    display: none;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 4rem;
    list-style: none;
}
.nav-links li a {
    color: var(--black);
    font-size: 17px;
    transition: var(--transition);
    display: inline-block;
}
.nav-links li a:hover {
    transform: translateY(-.5rem);
    color: var(--primary);
}
.menu-bar {
    display: none;
}

/* --- header --- */
header {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    align-items: center;
}
.header-container {
    display: grid;
    grid-template-columns: auto 450px;
    align-items: center;
    height: 100%;
    padding-top: 2.5rem;
    gap: 2%;
    position: relative;
}
.header-left h2 {
    margin: 1rem 0;
}
.header-left p {
    font-size: 19px;
    width: 94%;
    margin: .5rem 0 2rem;
}
.typed-text {
    background: var(--gradient);
    border-bottom: 4px solid var(--black);
    color: var(--background);
}
.header-right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;
}
.hero-image {
    position: absolute;
    width: 80%;
    height: 80%;
    background: var(--gradient);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
}
.hero-image img {
    position: relative;
    top: .5rem;
}
.round {
    width: 100%;
    height: 100%;
    position: absolute;
    border-color: var(--primary) transparent;
    border-style: solid;
    border-radius: 50%;
    border-width: 4px 4px 0 0;
    animation: roundAnimation infinite linear 10s;
}
@keyframes roundAnimation{
    to {
        transform: rotate(360deg);
    }
}
.moon {
    width: 2rem;
    height: 2rem;
    background: var(--gradient);
    border-radius: 50%;
    position: absolute;
    right: 60px;
    top: 40px;
    box-shadow: 0 0 1rem var(--primary);
}
.social-links {
    position: absolute;
    bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.social-links a {
    font-size: 1.2rem;
    color: var(--black);
    transition: var(--transition);
}
.social-links a:hover {
    color: var(--primary);
    transform: translateY(-.5rem);
}
.HireMe {
    margin-left: 15px;
}

/* --- about --- */
#About {
    background: var(--background2);
}
.about-container {
    margin-top: 2rem;
    width: 70%;
}
.about-cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 4%;
}
.about-card {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.about-card span {
    padding: .8rem;
    width: fit-content;
    margin: 0 auto;
    font-size: 1.1rem;
    display: flex;
    border-radius: .4rem;
}
.about-container h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.about-container p {
    margin-bottom: 2rem;
}

/* --- skills --- */
#Skills h2 {
    margin-bottom: 5rem;
}
.skills-container {
    display: grid;
    grid-template-columns: 40% auto;
    gap: 4%;
}
.skills-left {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4%;
}
.skill-card {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: .8rem;
}
.skill-card span {
    font-size: 2rem;
}
.skills-right {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.skills-right h3 {
    display: flex;
    justify-content: end;
}
.progress {
    position: relative;
}
.progress h5:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
}
.progress h5 {
    display: flex;
    align-items: center;
    gap: .8rem;
}
.progress h5 i {
    font-size: 1.4rem;
}
.out-row {
    width: 100%;
    height: 1rem;
    background: transparent;
    margin-top: 1rem;
    border: 2px solid var(--background2);
    border-radius: .5rem;
}
.inner-row {
    width: 100%;
    height: 100%;
    background: var(--gradient);
    border-radius: .5rem;
}
.progress:nth-child(2) .inner-row {
    width: 90% !important;
}
.progress:nth-child(3) .inner-row {
    width: 80% !important;
}
.progress:nth-child(4) .inner-row {
    width: 50% !important;
}
.progress:nth-child(5) .inner-row {
    width: 65% !important;
}
.progress:nth-child(6) .inner-row {
    width: 75% !important;
}

/* --- portfolio --- */
#Portfolio {
    background: var(--background2);
}
.portfolio-tabs {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.tab-active {
    background: var(--gradient);
    border-color: var(--background);
    color: var(--background);
}
.portfolio-projects {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3%;
}
.project {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    background: var(--light2);
    animation: projectAnimation var(--transition);
}
@keyframes projectAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.project:hover {
    border-color: var(--primary);
    background: var(--background);
}
.project img {
    border-radius: .8rem;
}
.project-action {
    display: flex;
    gap: 1rem;
    align-items: center;
}


/* --- contact --- */
.container-contact {
    width: 60%;
    display: grid;
    grid-template-columns: 8rem auto;
    gap: 3%;
}
.contact-left {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}
.contact-left a {
    font-size: 1.6rem;
}
form input, textarea {
    width: 100%;
    padding: 1.4rem;
    background: transparent;
    border: 2px solid var(--background2);
    border-radius: .8rem;
    margin-bottom: 1rem;
    font-size: 16px;
    color: var(--black);
    resize: none;
}
form input:focus, textarea:focus{
    border-color: var(--black);
}

/* --- footer --- */
footer {
    background: var(--gradient);
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--background);
}
.footer-container i {
    color: red;
}


/* --- responsive --- */
@media (max-width: 1200px) {
    h1 {
        font-size: 46px;
    }
}

@media (max-width: 1024px) {
    section>p {
        width: 60%;
    }

    /* --- navbar --- */
    nav {
        background: var(--gradient);
    }
    .logo {
        color: var(--background);
    }
    .nav-links {
        display: none;
    }
    .menu-button {
        display: inline-block;
        background: transparent;
        color: var(--background);
        font-size: 1.6rem;
        transition: var(--transition);
    }
    .menu-button:hover {
        transform: scale(1.2);
    }

    /* --- menu bar --- */
    .menu-bar {
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 5rem;
        align-items: center;
        justify-content: center;
        background: var(--gradient);
        z-index: 2;
        transition: var(--transition);
    }
    .menu-none {
        bottom: -100%;
        transition: var(--transition);
    }
    .menubar-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 4rem;
        justify-content: center;
    }
    .menubar-container a {
        font-size: 1.6rem;
        color: var(--background);
        transition: var(--transition);
    }
    .menubar-container a:hover {
        transform: scale(1.2);
    }
    
    /* --- header --- */
    header {
        height: 100%;
    }
    .header-container {
        grid-template-columns: 1fr;
        padding: 0;
        padding-bottom: 5rem;
        text-align: center;
    }
    .header-left a {
        margin-bottom: 1.5rem;
    }
    .header-right {
        width: 400px;
        height: 400px;
        margin: 0 auto;
        grid-row: 1;
        padding-top: 12rem;
        margin-bottom: 7rem;
    }
    .moon {
        right: 45px;
    }
    
    /* --- about --- */
    .about-container {
        width: 80%;
    }
    .about-cards {
        gap: 2%;
    }

    /* --- portfolio --- */
    .portfolio-projects {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 5rem;
    }

    /* --- contact --- */
    .container-contact {
        width: 80%;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    p {
        font-size: 16px;
    }
    .btn {
        padding: 12px 26px;
    }

    /* --- navbar --- */
    nav {
        height: 4rem;
    }
    .logo h3 {
        font-size: 1.5rem;
    }
    .menu-button {
        font-size: 1.5rem;
    }

    /* --- menu bar --- */
    .menu-bar {
        height: 3.5rem;

    }
    .menubar-container {
        gap: 3.5rem;
        justify-content: space-between;
    }
    .menubar-container a {
        font-size: 1.3rem;
    }

    /* --- header --- */
    header {
        height: 100%;
    }
    .header-right {
        width: 280px;
        height: 280px;
    }
    .moon {
        height: 1.5rem;
        width: 1.5rem;
        right: 20px;
        top: 35px;
    }
    .header-container {
        padding-bottom: .5rem;
    }
    .header-container p {
        width: 100%;
    }
    .social-links {
        justify-content: center;
        position: relative;
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        border: 1px solid red;
    }
    .social-links a {
        border: 1px solid red;
        width: 3em;
    }
    .header-left {
        padding-top: 2rem;
    }

    /* --- about --- */
    .about-container {
        width: 90%;
    }
    .about-cards {
        grid-template-columns: 1fr 1fr;
        gap: 4%;
        padding-bottom: 2rem;
    }

    /* --- skills --- */
    .skills-container {
        grid-template-columns: 1fr;
        margin-top: -3rem;
    }
    .skills-right {
        margin-top: 2rem;
    }

    /* --- portfolio --- */
    .portfolio-tabs {
        gap: 1rem;
    }
    .portfolio-tabs .btn-sm {
        padding: 8px 18px !important;
    }
    .portfolio-projects {
        grid-template-columns: 1fr;
        gap: 1.4rem;
        margin-bottom: -5rem;
    }

    /* --- contact --- */
    .container-contact {
        width: 90%;
        grid-template-columns: 1fr;
    }
    .contact-left {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 2rem;
    }
}